<footer>
  <div class="row-footer">
    <div class="site-logo">
      <span>Code by</span>
      <ul class="main-nav">
        <li class="item1">
          <span>O</span>
        </li>
        <li class="item2">
          <span>W</span>
        </li>
        <li class="item3">
          <span>E</span>
        </li>
        <li class="item4">
          <span>N</span>
        </li>
      </ul>
    </div>
    <div class="site-links">
      <span>Links</span>
      <ul class="list-links">
        <li [routerLink]="['/']"><a>Home</a></li>
        <li><a>About me</a></li>
        <li><a>Privacy policy</a></li>
        <li><a>Contact</a></li>
      </ul>
    </div>
    <div class="adr-email">
      <span>Address</span>
      <ul class="">
        <li class="location"><a><i class="fas fa-map-pin"></i>Ha Noi, Viet Nam</a></li>
        <li class="email"><a href="mailto:nguyenkhoi.3182k1@gmail.com?subject=subject text">nguyenkhoi.3182k1@gmail.com</a></li>
      </ul>
    </div>
    <div class="subscribe-form">
      <img src="../../../../assets/images/logo-white.svg">
    </div>
  </div>

  <hr>

  <div class="row-footer">
    <div class="follow-icons">
      <li><span>Follow me here</span></li>
      <li><a href="#"><i class="pi pi-google"></i></a></li>
      <li><a href="#"><i class="pi pi-instagram"></i></a></li>
      <li><a href="#"><i class="pi pi-twitter"></i></a></li>
      <li><a href="#"><i class="pi pi-facebook"></i></a></li>
      <li><a href="#"><i class="pi pi-github"></i></a></li>
    </div>
  </div>
</footer>
